@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Center alignment utility class */
.bwa_center {
  @apply bwa-flex bwa-justify-center bwa-items-center;
}

/* Line separator utility class */
.bwa_line {
  @apply bwa-my-2 bwa-border-bwa_accent;
}

/* Modal heading styles */
.bwa_modalHeading {
  @apply bwa-text-2xl xl:bwa-text-4xl 2xl:bwa-text-6xl bwa-capitalize bwa-font-bold;
}
